# Example environment variables for production
GCP_SERVICE_ACCOUNT_KEY=
GCP_PROJECT_ID=
GCP_REGION=
CEREBRAS_API_KEY=
GEMINI_API_KEY=
EXA_API_KEY=
OPENAI_API_KEY=
OPENAI_ORG_ID=
OPENAI_ADMIN_KEY=
SENTRY_DSN=